<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <center>
    <h1>Tiny APP</h1>
    <form method="POST" action="/login">
      <fieldset>
        <legend>USER LOGIN</legend>
          Email:<br>
        <input type="email" name="email"><br>
          Password:<br>
        <input type="password" name="password"><br>
          <br>
        <button type="submit">Sign In</button>
      </fieldset>
    </form>
  </center>
</body>
</html>