<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <center>
    <br>
    <br>
    <form method="get" action="/urls/new">
      <button type="submit">Submit URL for shortening</button>
  </form>
   <br>
   <br>
   <br>
    <table>
      <tr>
        <th>List of Shortened URLS</th> 
      </tr>
      <tr>
        <td> <% for(var shortURL in urls){ %>
          <p><%= shortURL %> - <%= urls[shortURL]%></p>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <button>Delete</button>
            </form>
            <form method="GET" action="/urls/<%= shortURL %>/">
              <button>Edit</button>
              </form>
        <% } %></td>
        
      </tr>
    </table>
  </center>
</body>
</html>