<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
    <h4>Submit URL for shortening</h4>
    <input/>
    <button>Submit URL</button>
   <br>
   <br>
   <br>
    <table>
      <tr>
        <th>List of Shortened URLS</th> 
      </tr>
      <tr>
        <td> <% for(var shortURL in urls){ %>
          <p><%= shortURL %> - <%= urls[shortURL]%></p>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <button>Delete</button>
            </form>
            <form method="GET" action="/urls/<%= shortURL %>/">
              <button>Edit</button>
              </form>
        <% } %></td>
        
      </tr>
    </table>
</body>
</html>