<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <table>
    <tr>
      <td><%= shortURL %></td><td><a href="<%= longURL %>"><%= longURL %></a> </td>
      </tr>
      </table>
</body>
</html>